*{
    box-sizing: border-box;
}

h1, h3 {
    text-align: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 24%;
    text-align: center;
    background-color: #b654dde3;
    color: azure;
}
nav a:hover {
    background-color: bisque;
}

.clicked {
    background-color: cadetblue;
}

#msgText {
    display: inline-block;
    width: 50%;
}
#updateUser {
    display: inline-block;
    width: 50%;
}
#btnSend {
    display: inline-block;
    width: 25%;
}
#btnUpdate {
    display: inline-block;
    width: 25%;
}
/* #msg {
    text-align: center;
    position: relative;
} */
ul {
    list-style: none;
    padding: 0;
    
}
.user {
    color: #5028d4;
}
.msg {
    color: #d4284a;
}
li {
    background-color: #f1d9fc;
    padding: 5px 0;
    width: 50%;
    margin: 5px;
    margin-left: 10%;
    border-radius: 15%;
    border-top-left-radius: 0%;
}
p {
    border-radius: 15%;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin: 10px 0;
}